<mat-card class="employeeDetail-card" align="center">Employee Details</mat-card>
<mat-card class="employeeDetail-card">
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        <form [formGroup]="empData" (submit)="formSubmit()" id="empForm">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Name " formControlName="namex">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" formControlName="emailx">
            <mat-error *ngIf="empData.get('emailx').hasError('email')">Email should be vaild format</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-radio-group aria-label="Gender">
            <mat-radio-button value="Male">Male &nbsp;  &nbsp;</mat-radio-button>
            <mat-radio-button value="Female"> Female</mat-radio-button>
        </mat-radio-group> 

        <button class="myButton" mat-raised-button color="primary" type="submit">Submit</button>
    </form>
</mat-card>