<p class="title-card" align="center">Employee List</p>

<mat-card class="example-card">
    <form [formGroup]="employeeProfileGroup" (submit)="formSubmit()">
        <mat-form-field class="example-full-width">
            <!-- <input matInput placeholder="Name " [formControl]="formInputName"> -->
            <input matInput placeholder="Name " formControlName="namex">
            
            <mat-error *ngIf="employeeProfileGroup.get('namex').hasError('minlength')"> Name should be more than 5 char</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width"> 
            <input matInput placeholder="Email"  formControlName="emailx" >
            
            <mat-error *ngIf="employeeProfileGroup.get('emailx').hasError('email')">Email should be vaild format</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
</mat-card>

<mat-card class="example-card">
    <mat-list class="example-form">
        <h3 mat-subheader>Employee List</h3>
           
        <mat-spinner *ngIf="employxes.loading"></mat-spinner>
        <app-employee-list-element *ngFor="let em of employxes.data" [emp]="em"></app-employee-list-element>
    </mat-list>
</mat-card> 